<!-- Contenido de la página principal -->
<div class="jumbotron">
    <div class="container text-center">
        <h1 class="text-border text-background" style="font-size:3rem">Bienvenido a {{pageTitle}}!</h1>
        <p class="text-background" style="font-size:2rem">Descubre nuestros deliciosos platos de arroz con pollo.</p>
        <hr class="my-4">
        <p class="text-background" style="font-size:2rem">Explora nuestro menú y disfruta de la mejor cocina.</p>
        <div class="d-flex justify-content-center align-items-center p-5">
            <img src="/public/images/pollo_.png" alt="Pollo Bailando" class="img-fluid" style="width: 35%; margin-botom:2%">
        </div>
        <a class="text-background btn btn-danger btn-lg mb-5" href="/products" role="button">Ver menú</a>
    </div>
</div>
