<!-- views/users/request-password-reset.handlebars -->
<div class="jumbotron">
    <div class="container text-center">
            <div class="d-flex justify-content-center align-items-center">
            <h1 class="text-border text-background mt-10" style="font-size:1.5rem">Recuperación de Contraseña</h1>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-10 mb-10">
            <h3 class="text-background" style="font-size:1.2rem"><em>Introduce tu dirección de correo electrónico para recibir instrucciones para restablecer tu contraseña.</em></h3>
            </div>
        
            <div class="d-flex justify-content-center align-items-center mt-2">
            <div class="container row justify-content-center">
            <form id="resetEmailForm" method="POST">
                <div class="mb-3 col-6">
                    <input type="email" name="email" class="form-control text-background form-control col-12" placeholder="Tu correo electrónico" required>
                </div>
                <button type="button" id="boton_envio_data_resetEmail" class="text-background btn btn-dark btn-lg mb-2 flex-fill" style="font-size: 1.2rem;">Enviar Email</button>
            </form>
            <div class="mb-3 col-6">
            <a class="text-background btn btn-danger btn-lg mb-2 flex-fill" style="font-size: 1.2rem;" href="/" role="button">Volver</a>
            </div>
            </div>
            </div>
    </div>
</div>

<script src="/public/js/sendRequestForEmail.js"></script>