<!-- Contenido de la pagina principal -->
<div class="jumbotron">
    <div class="container text-center">
        <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-border text-background" style="font-size:1.5rem">Bienvenido a {{pageTitle}}!</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        <p class="text-background" style="font-size:1.2rem">Descubre nuestros deliciosos platos de arroz con pollo.</p>
        </div>
        <hr class="my-4">
        <!-- Logica condicional para mostrar el formulario solo si no esta logueado -->
        {{#unless logged}}
            <p class="text-background" style="font-size:1.2rem">Explora nuestro menú y disfruta de la mejor cocina.</p>
            <div class="d-flex justify-content-center align-items-center mt-2">
                <div class="container row justify-content-center">
                    <h2 class="text-center mb-4 text-background" style="font-size:1.2rem">Ingresar</h2>
                    <form method="POST" action="/login">
                        <div class="mb-3 col-6">
                            <input type="text" class="form-control text-background form-control col-12" id="username" placeholder="User" name="username" required>
                        </div>
                        <div class="mb-3 col-6">
                            <input type="password" class="form-control text-background form-control col-12" id="password" placeholder="Password" name="password" required>
                        </div>
                        <div class="mb-3 col-6">
                        <button type="submit" class="text-background btn btn-lg btn-primary flex-fill mb-3" style="font-size: 1.2rem;"><strong>Iniciar Sesión</strong></button>
                        <a class="text-background btn btn-danger btn-lg mb-2 flex-fill" style="font-size: 1.2rem;" href="/registerForm" role="button">Registrarse</a>
                        </div>
                        <div class="mb-3 col-6">
                        <a class="text-background btn btn-dark btn-lg mb-2 flex-fill" style="font-size: 1.2rem;" href="/api/sessions/github" role="button">Inicia sesión con GitHub</a>
                        </div>
                        <div class="mb-3 col-6">
                            <a class="text-background btn btn-dark btn-lg mb-2 flex-fill" style="font-size: 1.2rem;" href="/api/auth/request-password-reset" role="button">Recuperar Contraseña</a>
                        </div>



                    </form>
                </div>
            </div>
        {{else}}
                <div class="container text-center">
                <p class="text-background" style="font-size:1.4rem">Ya estas loggeado!</p>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/public/images/pollo_.png" alt="Pollo Bailando" class="img-fluid" style="width: 20%; margin-botom:2%">
                </div>
                <a class="text-background btn btn-success btn-lg mb-5" href="/products" role="button">Ver menú</a>
                <a class="text-background btn btn-danger btn-lg mb-5" href="/api/users/logout" role="button">Logout</a>
                </div>
                </div>
        {{/unless}}
    </div>
</div>
