<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center mb-5">
    <h1 class="text-background" style="font-size: 3rem;">Detalles del Carrito</h1>
    </div>
    <table class="table table-striped table_carrito">
        <thead class="thead-dark">
            <tr>
                <th class="w-25 text-center" scope="col" style="font-size:1.5rem;">Cantidad</th>
                <th class="w-25 text-center" scope="col" style="font-size:1.5rem;">Nombre del Producto</th>
                <th class="w-25 text-center" scope="col" style="font-size:1.5rem;">Precio Unitario</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                <tr>
                    <td class="text-center" style="font-size:1.1rem;">{{this.quantity}}</td>
                    <td class="text-center" style="font-size:1.1rem;">{{this.name}}</td>
                    <td class="text-center" style="font-size:1.1rem;">$ {{this.price}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center mb-5">
    <p class="fw-bold text-background" style="font-size: 2rem;">Total: ${{totalPrice}}</p>
    </div>
</div>