<!-- Footer de Bootstrap -->
<footer class="bg-dark text-light text-center py-4">
    <div class="container">
        <p>&copy;2024 Chicken with Rice. Todos los derechos reservados.</p>
    </div>
</footer>
